*{ 
font-family:arial; 
font-size:12px; 
} 
img{ 
border:none; 
} 
a{ 
color:darkblue; 
} 
body{ 
background:#bbb; 
margin:0px; 
} 
.main{ 
margin:0px auto; 
width:1000px; 
background:#fff; 
border:2px solid #444; 
box-shadow: 1px 1px 12px #555; 
} 
.menu{ 
background:#444; 
height:40px; 
padding-top:5px;
} 
	
      .main .menu .button-group{ 
			float:left;
       } 
	      .main .menu .button-group ul{ 
	       margin:0px; 
	       padding:0px; 
	       height:30px; 
	       } 
	       .main .menu .button-group a{ 
	       text-decoration:none; 
	       color:white; 
	       font-weight:bold; 
	       } 
	       .main .menu .button-group li{ 
	       padding:0px 20px; 
	       margin:0px; 
	       list-style:none; 
	       display:inline-block; 
	       height:23px; 
	       padding-top:7px; 
	       } 
	       .main .menu .button-group .selectionne{ 
	       background:#222; 
	       }         
	       .main .menu .button-group li:hover{ 
	       background:#222; 
	       }   
	       
	              
       .main .menu .button-indiv{ 
       	 margin-left: 500px;
       }              
	       .main .menu .button-indiv div{ 
	       	 float:right;
	       	 padding-right:12px;
	       } 	        
	       .main .menu .button-indiv p { 	       
		       font-weight:bold; 
		       color:white;
		       margin-top:5px;
	       }	        
	       .main .menu .button-indiv img { 	       
		       width:20px;
		       height:20px;
		       margin-top:3px;
	       }
		  .main .menu .button-indiv input {
			    background: url("../images/loupeBl.png") no-repeat scroll 7px center rgba(0, 0, 0, 0);
			    border: medium none;
			    border-radius: 50px;
			    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
			    color: #fff;
			    height: 20px;
			    outline: medium none;
			    padding: 0 5px 0 23px;
			    text-shadow: 0 1px 0 #2c2d2f;
			    transition: all 0.5s ease 0s;
			    width: 170px;
			    float:right;
			    margin-top:4px;
			}
			.main .menu .button-indiv input:focus {
			    background: url("../images/loupeNo.png") no-repeat scroll 7px center #fff;
			    color: #000;
			    text-shadow: 0 1px 0 #fff;
			    width: 250px;
			} 
	       
.corps{
	padding:10px;	
}	 

.warning{
	color:red;
	font-weight:bold;
}  

.tweets{
	
}
	.tweets .tweetDate{
		float:right;
		color:#818181;
	} 
	.tweets .tweetUser{
		font-size:14px;		
	    font-weight:bold; 
	}
	.tweets .unTweet{
		margin:10px;
	}	
	.tweets hr{
		border:none;
		border-top:1px solid black;
		margin-top:0px;
	}	
	.tweets .noTweets{
		padding:10px;
	}
	.tweets .userDetails{
		height:200px;
		background-color:#ccc;
		padding:10px;
		text-align:center;
	}		
		.tweets .userDetails h1{
			font-size:25px;
			margin-top: 50px;
		}
		.tweets .userDetails table{
			width:100%;
  			border-collapse: collapse;
  			height:50px;
  			margin-top:70px;
		}		
			.tweets .userDetails td{
				border: solid 1px black;
				padding-left:10px;
			}
			
footer{	
	background:#444; 
	color:white;
	padding:10px;
}	
/*
.main .content form .textarea, .main .content form .input{ 
width:100%; 
} 
.tb_list{ 
border-collapse: collapse; 
} 
.tb_list th,.tb_list td{ 
border:1px solid gray; 
} 
.tb_list th{ 
text-align:left; 
} 
.tb_list td{ 
vertical-align:top; 
} 
.tb_list .alt td{ 
background:#eee; 
} 
.profil{ 
border-collapse:collapse; 
width:680px; 
margin:10px; 
} 
.profil td{ 
border:1px solid #777; 
padding:8px; 
color:#777; 
} 
.profil td strong{ 
color:#000; 
} 
.tb_posts{ 
margin:4px; 
margin-top:20px; 
width:680px; 
border-collapse:collapse; 
} 
.tb_posts td{ 
padding:6px; 
padding-bottom:20px; 
border-top:1px solid #ccc; 
} 
.tb_posts strong{ 
font-size:14px; 
} 
.tb_posts a{ 
text-decoration:none; 
} 
.tb_subscriptions{ 
margin:4px; 
margin-top:20px; 
width:680px; 
border-collapse:collapse; 
} 
.tb_subscriptions td{ 
padding:6px; 
padding-bottom:20px; 
border-top:1px solid #ccc; 
} 
.profil{ 
border-collapse:collapse; 
width:678px; 
margin:10px; 
margin-top:5px; 
} 
.profil td{ 
border:1px solid #777; 
padding:8px; 
color:#777; 
} 
.profil td strong{ 
color:#000; 
} 
.btn, .btnDisabled{ 
border:2px solid #196160; 
background:#2a9190 ; 
display:inline-block; 
text-decoration:none; 
padding:2px 6px; 
color:white; 
font-weight:bold; 
text-align:center; 
} 
.btnDisabled{ 
border-color:#444; 
background:#2a9190 ; 
} 
.popup{ 
margin:20px; 
width:650px; 
border:3px solid gray 
} 
.popup .close{ 
background:gray; 
margin-top:0px; 
text-align:right; 
} 
.popup .close a{ 
color:white; 
text-decoration:none; 
} 
h1{ 
font-size:14px; 
padding-left:8px; 
color:#444; 
} 
.tbCenter{ 
margin:auto; 
}
*/